@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous');

body {
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pile-of-ripe-fresh-green-pears-royalty-free-image-133810495-1564414665.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: .5em;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(53, 220, 27, 0.9);
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: brown;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
}

nav {
  display: flex;
  justify-content: center;
}